<div class="owl-carousel">
  <div class="item"><%= image_tag asset_path('1.jpg') %></div>
  <div class="item"><%= image_tag asset_path('2.jpg') %></div>
  <%
     slides = Article.order(created_at: :desc)
     counter = 0
  %>
  <% slides.each do |slide| %>
    <% if slide.image.present? %>
      <div class="item"><%=link_to image_tag(slide.image.url(:medium)), article_path(slide) %></div>
      <%
         counter += 1
         break if counter > 9
      %>
    <% end %>
  <% end %>
</div>