<ul class="nav nav-tabs">
  <% @types.each do |type| %>
      <li role="presentation">
        <% if I18n.locale == :en && type.en_name.present? %>
            <%= link_to type.en_name, get_news_path(type), remote: true %>
        <% elsif I18n.locale == :kz && type.kz_name.present? %>
            <%= link_to type.kz_name, get_news_path(type), remote: true %>
        <% else %>
            <%= link_to type.name, get_news_path(type), remote: true %>
        <% end %>
      </li>
  <% end %>
</ul>

<div id="get_articles">
  <%= render "articles/articles_table" %>
</div>
