<ul class="nav nav-tabs"   >
  <% @types.each do |type| %>
    <li role="presentation" ><%= link_to type.name, get_news_path(type), remote: true %></li>
  <% end %>
</ul>

<div id="get_articles">
  <%= render "articles/articles_table" %>
</div>
