<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1>Зарегистрирован новый пользователь</h1>
<p>
  Посмотреть данные пользователя <a href="<%= admin_citizen_url(@citizen.id) %>"><%= @citizen.fullname %> </a>
</p>
</body>
</html>