<div class="left-images-links">
  <ul>
    <% Event.order(:date_st).each do |event| %>
      <% if event.site.present? and event.image.url.present? and not event.date.past? %>
        <li><%= link_to image_tag(event.image.url(:thumb)), event.site, target: '_blank' %></li>
      <% end %>
    <% end %>
  </ul>
</div>