<div class="error-log">
  <div class="error-log__inner">
    <h1 class="error-log__title">Сайт переехал, находится по адресу</h1>
    <p><a href="http://mfa.gov.kz/bishkek">mfa.gov.kz/bishkek</a></p>
  </div>
</div>
