<% if I18n.locale == :en && @page.en_title.present? %>
    <h3><%= @page.en_title %></h3>
<% else %>
    <h3><%= @page.title %></h3>
<% end %>
<div>
  <% if I18n.locale == :en && @page.en_content.present? %>
      <%= raw @page.en_content %>
  <% else %>
      <%= raw @page.content %>
  <% end %>
</div>