# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 24c297cfc4eed403275d14ffddf40d018cdcf8184a0dac7dcdec2cd4ad0eea496705551f7ff5c9e13ab3e1f3f06ca69d52e2b63352db57a11d4b0749bea7befc

test:
  secret_key_base: 590f4bd5d3d63338426fb0bc486fd9cdb0940890a3574513783a79496f61a99747a5b28fadac9c2eaf02df603a78c42c7dd6fb58931359d09f77039a29258d29

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
