// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.news-block{
  padding: 10px 0 0 7px;
  border-top:1px solid #ddd ;
  @extend %flex-block ;
  &:hover{
    background: #f5f5f5;
  }
  @include md{
    padding-right: 20px;
  }
  .news-img{
    width: 15%;
    float: left;
    @include md{
      width: 18%;
      img{
        padding-top: 0;
      }
    }
    @include tablet{
      width: 40%;
      margin: 0 auto;
    }
  }
  .news-description{
    width: 64%;
    float: left;
    padding: 0 12px;
    @include md{
      width: 80%;
      padding: 0 0 5px 0;
    }
    @include tablet{
      width: 100%;
    }
  }
  .news-type{
    width: 11%;
    float: right;
    @include md{
      width: 80%;
      text-align: right;
    }
  }
  .news-date{
    width: 10%;
    float: right;
    @include md{
      width: 20%;
      text-align: right;
    }
  }
}

.article-image {
  float: left;
  margin-right: 20px;
  @include tablet{
    float: none;
  }
}

.paginate {
  display: block;
  margin: 0 auto;
}
.paginate a {
  background-image: none;
}
.owl-carousel {
  .item img{
    display: block;
  }
  .item img:hover{
    opacity: 1;
    -webkit-animation: flash 1.5s;
    animation: flash 1.5s;
  }
  @keyframes flash {
    0% {
      opacity: .4;
    }
    100% {
      opacity: 1;
    }
  }
}
