// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  h3 {
    text-align: center;
  }
  background-color: #a6f2fb;
}
.table {
  border-right: none;
  border-left: none;
}
.table td, .table th, .table tr {
  border: none;
}
.container-1{
  width: 100%;
  min-width:320px;
  max-width: 1170px;
  margin: 0 auto 50px;
  padding: 0 15px;
}
.nav-pills  {
  border-radius: 4px;
  font-size: 14px;
  font-weight: 700;

}
.nav-pills > li > a {
  text-decoration: none;
  text-align: center;
  color: #337ab7;
  min-width: 90px;

}
.dropdown-menu > li > a {
  text-decoration: none;
  color: #337ab7;
}
.nav-pills > li > a:hover {
  background-color: #fff;
}
.nav-tabs  {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 500;
}
.nav-tabs > li > a {
  text-decoration: none;
  color: #337ab7;
}
ul, ol {
  margin: 0;
  padding-left: 1.5em;
  list-style-type: none;
}
.top {
  margin: 0;
  width: 100%;
  height: 144px;
  background-image: image_url('header.png');
  a:hover {
    text-decoration: none;
  }
}
.social-block{
  float: left;
  width: 27%;
  @include lg{
    width:30%;;
  }
}
.text-block{
  float: right;
  width: 69%;
  margin-right: 4%;
  padding: 10px 0 0 0;
  text-align: center;
  @include lg{
    width:65%;
  }
  a{
    display: inline-block;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    color: #286191;
  }
}
.social {
  width: 30px;
  margin: 10px;
  margin-left: 45px;
  @include md{
    margin-left: 30px;
  }
}
.social img {
  padding-bottom: 2px;
  width: 30px;
  -webkit-filter: sepia(100%);
  filter: sepia(100%);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.social img:hover {
  -webkit-filter: sepia(0);
  filter: sepia(0);
}

.lang {
  float: right;
  padding: 5px;
  background-color: #ffe160;
}

// information-block
.information-block{
  background: #fff;
}
.sidebar{
  width: 25%;
  float: left;

}
.content-block{
  float: right;
  width: 74.5%;
}
.menu-in-content{
  background-color: #ffe160;
}
.menu-block{
  width:60%;
  float: left;
  //@include md{
  //  width: 100%;
  //  margin-bottom: 10px;
  //  float: none;
  //}
}

.search-block{
  width: 40%;
  float: left;
  text-align: right;
  //@include md{
  //  width: 100%;
  //  float: none;
  //}
  .form-row{
    padding:3px 17px 3px 0;
    .input-txt{
      display: inline-block;
      width: 162px;
      margin: 0 12px 0 0;
    }
  }
}
.content {
  background-color: #ffffff;
  border-radius: 4px;
  font-size: 14px;
  padding: 10px;
}
.content img {
  padding: 10px;
}
.owl-carousel {
  background-color: #fff;
  border-radius: 4px;

}
.owl-carousel .item{
  margin: 3px;
}
.owl-carousel .item img{
  display: block;
  width: 100%;
  height: auto;
}

.head_bar {
  background-color: #000000;
  text-align: center;
  font-size: 20px;
  padding: 0 20px ;

}
.head_bar a{
  color: #ffffff;
  font-size: 24px;
}