// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: #a3b7c6;
}

.container {
  margin-bottom: 50px;

}
.nav  {
  background-color: #ffe160;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 700;

}
.nav-pills > li > a {
  text-decoration: none;
  color: #337ab7;


}
.nav-pills > li > a:hover {
  background-color: #fff;

}


ul, ol {
  margin: 0;
  padding-left: 1.5em;
  list-style-type: none;
}
.row {
  margin: 0px;
  background-color: #fff;
  border-radius: 4px;

}
.col-md-3 {
  padding: 0px;
}
.col-md-9 {
  padding-left: 5px;
  padding-right: 0px;
}

.top_image {
  background-color: #ffffff;
}
.top_image .social img{
  width: 50px;
  height: auto;

}
.content {
  background-color: #ffffff;
  border-radius: 4px;
  padding: 10px;
}
.owl-carousel {
  background-color: #fff;
  border-radius: 4px;

}
.owl-carousel .item{
  margin: 3px;
}
.owl-carousel .item img{
  display: block;
  width: 100%;
  height: auto;
}