<footer class="footer">
    <div class="row">
      <div class="col-md-3"><a href="http://www.akorda.kz/" target="_blank" title="Официальный сайт президента РК"><img src="<%= image_url('president-site.jpg') %>"></a></div>
      <div class="col-md-3"><a href="http://www.parlam.kz/" target="_blank" title="Официальный сайт парламента РК"><img src="<%= image_url('parlam.jpg') %>"/></a></div>
      <div class="col-md-3"><a href="http://government.kz/" target="_blank" title="Официальный сайт правительства РК"><img src="<%= image_url('gov-of-kz.jpg') %>"/></a></div>
      <div class="col-md-3"><a href="http://mfa.kz/" target="_blank" title="Официальный сайт МИД РК"><img src="<%= image_url('min-of-kz.jpg') %>"/></a></div>
    </div>
</footer>