<div class="left-images-links">
  <ul>
    <% ThirdParty.all.each do |imagelink| %>
        <li><%= link_to image_tag(imagelink.image.url(:thumb)), imagelink.link, target: '_blank' %></li>
    <% end %>
  </ul>
</div>