<div class="left-images-links">
  <ul>
    <% ThirdParty.all.each do |imagelink| %>
        <li><%= link_to image_tag(imagelink.image.url(:thumb)), imagelink.link, target: '_blank' %></li>
    <li><a href="http://www.akorda.kz/" target="_blank"><img src="/images/president-site.jpg"/></a></li>
    <li><a href="http://en.government.kz/" target="_blank"><img src="/images/gov-of-kz.jpg"/></a></li>
    <li><a href="http://mfa.kz/" target="_blank"><img src="/images/min-of-kz.jpg"/></a></li>
    <li><a href="http://www.parlam.kz/" target="_blank"><img src="/images/parlament-of-kz.jpg"/></a></li>
    <li><a href="http://www.expo2017astana.com/" target="_blank"><img src="/images/expo2017.jpg"/></a></li>
    <li><a href="http://www.export.gov.kz/" target="_blank"><img src="/images/export-gov.jpg"/></a></li>
    <li><a href="http://forum-astana.org/" target="_blank"><img src="/images/astana-forum.jpg"/></a></li>
    <li><a href="http://www.kazakhstanunsc.com/" target="_blank"><img src="/images/global-sec.jpg"/></a></li>
    <li><a href="http://www.e-history.kz/" target="_blank"><img src="/images/histor-kz.jpg"/></a></li>
    <li><a href="http://www.theatomproject.org/ru" target="_blank"><img src="/images/the-prject-atom.jpg"/></a></li>
    <li><a href="http://strategy2050.kz/ru" target="_blank"><img src="/images/kz2050.jpg"/></a></li>
    <li><a href="http://inform.kz/" target="_blank"><img src="/images/kaz-inform.jpg"/></a></li>
    <% end %>
  </ul>
</div>